.main {
    width: 545px;
    padding: 24px 50px 24px 22px;
    font-family: sans-serif;
    margin: 0 auto;
}
.block {
    background-color: #f6f5f3;
    height: 40px;
    border: solid 1px #e0e0e0;
}
.block>div {
    margin: 10px 0 0 5px;
    font-family: monospace;
}
.inner {
    display: inline-block;
    background-color: #f6f5f3;
    border: solid 1px #e0e0e0;
    padding: 5px;
    border-radius: 4px;
    font-family: monospace;
}
.main>div:nth-child(2) {
    margin-top: 24px;
}
.scroll1>div>span:first-child {
    color: #4398a9;
}
.scroll1>div>span:last-child {
    color: #989788;
    font-style: italic;
}
.scroll1 {
    background-color: #f6f5f3;
    height: 50px;
    border: solid 1px #e0e0e0;
    overflow-x: auto;
}
.scroll1>div {
    height: 18px;
    width: 670px;
    margin: 10px 0 0 5px;
    font-family: monospace;
}