.row {
    position: relative;
    padding-top: 18px;
}
.row>div {
    height:18px;
    width: 8px;
}
.positionLeft {
    position: absolute;
    top:0;
    left: 0;
}
.positionCenter {
    position: absolute;
    top:0;
    left: 12px;
}
.positionRight {
    position: absolute;
    top:0;
    left: 24px;
}