.wrapper {
    width: 90vw;
    margin: 0 auto;
    background: url("../images/bg.gif") repeat-y;
   }
.header>h3 {
    font-size: 30px;
}
.header {
    text-align: center;
    height: 44px;
    padding-top: 4px;
    color: #0000ff;
    background-color: #add8e6;
}
.header h3 {
    margin: 0;
}
.menu {
    width: 188px;

    vertical-align: top;
    float: left;
}
.menu p {
    margin: 10px 0 0 5px;
}
.picture {
    height: 133px;
    width: 199px;
    float: left;
    margin: 6px 20px 15px 0;
}
.content {
    width: calc(100% - 198px);
    margin-left: 10px;
    float: right;
    font-size: 20px;
    background: url(../images/bgF.jpg) right repeat-y;
    }
.content h4 {
    text-align: center;
}
.footer {
    text-align: center;
    height: 50px;
    color: #0000ff;
    background-color: #add8e6;
    clear: both;
    padding-top: 14px;
}
.footer h5 {
    font-size: 30px;
    margin: 0;
}