.rainbow1 {
  background: #466368;
  background: linear-gradient(to right, red, orange, yellow, green, cyan, blue, violet);
  border-radius: 6px;
  height: 120px;
}

.rainbow2 {
  background: #466368;
  background: linear-gradient(to right, red 0%, red 14.29%, orange 14.29%, orange 28.58%, yellow 28.58%, yellow 42.87%, green 42.87%, green 57.16%, cyan 57.16%, cyan 71.45%, blue 71.45%, blue 85.74%, violet 85.74%, violet 100%);
  border-radius: 6px;
  height: 120px;
}

.box{
    height: 700px;
    width: 700px;
}

.grid  {
  height: 700px; /* обязательно нужно указывать высоту, т.к. при пустом документе будет не верно отображаться */
  background:  repeating-linear-gradient(to top, red 0, red 1px, transparent 1px, transparent 100px),
               repeating-linear-gradient(to right, red 0, red 1px, transparent 1px, transparent 100px);
}

.gridVh {
  height: 700px; /* обязательно нужно указывать высоту, т.к. при пустом документе будет не верно отображаться */
  background:  repeating-linear-gradient(to top, red 0, red 1vw, transparent 1vw, transparent 10vw),
               repeating-linear-gradient(to right, red 0, red 1vw, transparent 1vw, transparent 10vw);
}