.chessTable {
    width: 100vmin;
    height: 100vmin;
    margin: 0 auto;
    counter-reset: number 9;
}

.chessTable>div {
    width: 10%;
    height: 10%;
}
.chessTable>div {
    float: left;
}
.chessTable>div:nth-of-type(8n+1) {
    clear: both;
    margin-left: 10vmin;

}
.chessTable>div:nth-of-type(8n+1)::before {
    counter-increment: number -1;
    content: counter(number);
    display: block;
    width: 10vmin;
    height:10vmin;
    margin-left: -10vmin;
    text-align: center;
    font-size: 40px;
    border-bottom: solid 1px black;
}
.chessTable>div:nth-of-type(1)::before {
    border-top: solid 1px black;
}
.chessTable>div:nth-of-type(57)::after {
    content: "A";
    display: block;
    width: 10vmin;
    height:10vmin;
    font-size: 40px;
    text-align: center;
}
.chessTable>div:nth-of-type(58)::after {
    content: "B";
    display: block;
    width: 10vmin;
    height:10vmin;
    margin-top: 10vmin;
    font-size: 40px;
    text-align: center;
}
.chessTable>div:nth-of-type(59)::after {
    content: "C";
    display: block;
    width: 10vmin;
    height:10vmin;
    margin-top: 10vmin;
    font-size: 40px;
    text-align: center;
}
.chessTable>div:nth-of-type(60)::after {
    content: "D";
    display: block;
    width: 10vmin;
    height:10vmin;
    margin-top: 10vmin;
    font-size: 40px;
    text-align: center;
}
.chessTable>div:nth-of-type(61)::after {
    content: "E";
    display: block;
    width: 10vmin;
    height:10vmin;
    margin-top: 10vmin;
    font-size: 40px;
    text-align: center;
}
.chessTable>div:nth-of-type(62)::after {
    content: "F";
    display: block;
    width: 10vmin;
    height:10vmin;
    margin-top: 10vmin;
    font-size: 40px;
    text-align: center;
}
.chessTable>div:nth-of-type(63)::after {
    content: "G";
    display: block;
    width: 10vmin;
    height:10vmin;
    margin-top: 10vmin;
    font-size: 40px;
    text-align: center;
}
.chessTable>div:nth-of-type(64)::after {
    content: "H";
    display: block;
    width: 10vmin;
    height:10vmin;
    margin-top: 10vmin;
    font-size: 40px;
    text-align: center;
}
.chessTable>div:nth-of-type(n+56)::after {
    border-left: solid 1px black;
}
.chessTable>div:nth-of-type(64)::after {
    border-right: solid 1px black;
}
.chessTable>div:nth-of-type(n):not(:nth-of-type(n+9)):nth-of-type(even) {
    background-color: gray;
}
.chessTable>div:nth-of-type(n):not(:nth-of-type(n+9)):nth-of-type(odd) {
    background-color: #dfdfdf;
}
.chessTable>div:nth-of-type(n+9):not(:nth-of-type(n+17)):nth-of-type(odd) {
    background-color: gray;
}
.chessTable>div:nth-of-type(n+9):not(:nth-of-type(n+17)):nth-of-type(even) {
    background-color: #dfdfdf;
}
.chessTable>div:nth-of-type(n+17):not(:nth-of-type(n+25)):nth-of-type(even) {
    background-color: gray;
}
.chessTable>div:nth-of-type(n+17):not(:nth-of-type(n+25)):nth-of-type(odd) {
    background-color: #dfdfdf;
}
.chessTable>div:nth-of-type(n+25):not(:nth-of-type(n+33)):nth-of-type(odd) {
    background-color: gray;
}
.chessTable>div:nth-of-type(n+25):not(:nth-of-type(n+33)):nth-of-type(even) {
    background-color: #dfdfdf;
}
.chessTable>div:nth-of-type(n+33):not(:nth-of-type(n+41)):nth-of-type(even) {
    background-color: gray;
}
.chessTable>div:nth-of-type(n+33):not(:nth-of-type(n+41)):nth-of-type(odd) {
    background-color: #dfdfdf;
}
.chessTable>div:nth-of-type(n+41):not(:nth-of-type(n+49)):nth-of-type(odd) {
    background-color: gray;
}
.chessTable>div:nth-of-type(n+41):not(:nth-of-type(n+49)):nth-of-type(even) {
    background-color: #dfdfdf;
}
.chessTable>div:nth-of-type(n+49):not(:nth-of-type(n+57)):nth-of-type(even) {
    background-color: gray;
}
.chessTable>div:nth-of-type(n+49):not(:nth-of-type(n+57)):nth-of-type(odd) {
    background-color: #dfdfdf;
}
.chessTable>div:nth-of-type(n+57):nth-of-type(odd) {
    background-color: gray;
}
.chessTable>div:nth-of-type(n+57):nth-of-type(even) {
    background-color: #dfdfdf;
}

.chessTable>div:nth-of-type(n+9):not(:nth-of-type(n+17)) {
    background: url("../images/chess.png") no-repeat 105% -4%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(n+9):not(:nth-of-type(n+17)):hover {
    background-position: 105% 122%;
}
.chessTable>div:nth-of-type(n+49):not(:nth-of-type(n+57)) {
    background: url("../images/chess.png") no-repeat 105% 122%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(n+49):not(:nth-of-type(n+57)):hover {
    background-position: 105% -4%;
}
.chessTable>div:nth-of-type(1) {
    background: url("../images/chess.png") no-repeat 41% -4%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(1):hover {
    background-position: 41% 122%;
}
.chessTable>div:nth-of-type(8) {
    background: url("../images/chess.png") no-repeat 41% -4%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(8):hover {
    background-position: 41% 122%;
}
.chessTable>div:nth-of-type(57) {
    background: url("../images/chess.png") no-repeat 41% 122%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(57):hover {
    background-position: 41% -4%;
}
.chessTable>div:nth-of-type(64) {
    background: url("../images/chess.png") no-repeat 41% 122%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(64):hover {
    background-position: 41% -4%;
}
.chessTable>div:nth-of-type(3) {
    background: url("../images/chess.png") no-repeat 62% -10%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(3):hover {
    background-position: 62% 115%;
}
.chessTable>div:nth-of-type(6) {
    background: url("../images/chess.png") no-repeat 62% -10%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(6):hover {
    background-position: 62% 115%;
}
.chessTable>div:nth-of-type(59) {
    background: url("../images/chess.png") no-repeat 62% 115%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(59):hover {
    background-position: 62% -10%;
}
.chessTable>div:nth-of-type(62) {
    background: url("../images/chess.png") no-repeat 62% 115%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(62):hover {
    background-position: 62% -10%;
}
.chessTable>div:nth-of-type(2) {
    background: url("../images/chess.png") no-repeat 83% -4%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(2):hover {
    background-position: 83% 122%;
}
.chessTable>div:nth-of-type(7) {
    background: url("../images/chess.png") no-repeat 83% -4%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(7):hover {
    background-position: 83% 122%;
}
.chessTable>div:nth-of-type(58) {
    background: url("../images/chess.png") no-repeat 83% 122%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(58):hover {
    background-position: 83% -4%;
}
.chessTable>div:nth-of-type(63) {
    background: url("../images/chess.png") no-repeat 83% 122%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(63):hover {
    background-position: 83% -4%;
}
.chessTable>div:nth-of-type(61) {
    background: url("../images/chess.png") no-repeat 19% 115%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(61):hover {
    background-position: 19% -10%;
}
.chessTable>div:nth-of-type(5) {
    background: url("../images/chess.png") no-repeat 19% -10%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(5):hover {
    background-position: 19% 115%;
}
.chessTable>div:nth-of-type(60) {
    background: url("../images/chess.png") no-repeat -3% 115%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(60):hover {
    background-position: -3% -10%;
}
.chessTable>div:nth-of-type(4) {
    background: url("../images/chess.png") no-repeat -3% -10%;
    background-size: 55vmin;
}
.chessTable>div:nth-of-type(4):hover {
    background-position: -3% 115%;
}